@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FCFCFF;
}

.tabslist {
  font-family: 'Nunito-Bold', Helvetica, sans-serif;
  font-weight: bold;
  color: #494369;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
  background-color: #ffffff;
  border-width: 1px;
  border-color: rgb(241 245 249);

}

.swiper-button-next,
.swiper-button-prev {
  background-image: url('/assets/landing/leftArrow.svg');
  background-repeat: no-repeat;
  right: 10px;
  padding: 30px;
  color: transparent !important;
  fill: transparent !important;
  stroke: transparent !important;
}

.swiper-button-next {
  background-image: url('/assets/landing/rightArrow.svg');
}

.sample-slider-2 [class^="swiper-button-"] {
  top: 50px;

}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, -200);
  z-index: 10;
  bottom: 60 !important;
}


@media screen and (max-width: 600px) {
  body {
    font-size: 12;
  }

}

/* scroll */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
  background: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b6b6b;
  border-radius: 10px;
}

.swiper-pagination-bullet {
  background-color: #0C5BC6 !important;
  width: 14px !important;
  height: 14px !important;
}